body{
    margin: auto;
    font-family: arial black;
    background-color: rgb(187, 187, 187);
    background-image: url(fond.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    color:blue;
    font-size: small;
    display: grid;
    grid-template-columns:2fr 3fr;
}


.header{
    grid-column: 1/2;
    position: fixed;
}

.feed{
    margin:1%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    width: 100%;
    grid-template-rows: 5000px;
    margin-top: 300px;
    
}


span.clarendon{
    font-family: clarendon-urw, serif;
    font-weight: 300;
    font-style: italic;
}

.header-title{
    font-size: 50px;
    position: fixed;
    left: 40px

}

.second-titre{
   font-size: 100px;
   line-height: 10px;
   position: absolute;
   top: 150px;
   left: 240px
}

.troisieme-titre{
    font-size: 100px;
    line-height: 10px;
    position: absolute;
    top: 280px;
    left: 150px;

}

.quatrieme-titre{
    font-size: 100px;
    line-height: 10px;
    position: absolute;
    top: 430px;
    left: 230px;
}

.cinquieme-titre{
    font-size: 100px;
    line-height: 10px;
    position: absolute;
    top: 540px;
    left: 210px;
}

.horaire{
    font-size: 40px;
}

.fargoo{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    left: 800px;
}

.lagedeglacee{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    left: 850px;
}

.lessurvivantss{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    left: 900px;
}

.refroidiss{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    bottom: 200px;
    left: 950px;
}

.yy{
    writing-mode: vertical-lr;
    font-size:25px;
    position: absolute;
    bottom: 200px;
    left: 1000px;
}

.billeteriee{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    top: 250px;
    left: 1200px;
}

.programmee{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    top: 250px;
    left: 1250px;
}

.cryotherapiee{
    writing-mode: vertical-lr;
    font-size: 25px;
    position: absolute;
    top: 250px;
    left: 1300px;

}

.synopsis{
    margin-top: 80px;
}

.infos{
    margin-top: 60px;
}

.horaire{
    margin-top: 100px;
}

.détails{
    font-size: 20px;
}

.fargo{
    margin-top: 1000px;
}

.lagedeglace{
    margin-top: 500px;
}

.lessurvivants{
    margin-top: 500px;
}

.refroidis{
    margin-top: 500px;
}

.y{
    margin-top: 500px;
}

.billeterie{
    margin-top: 500px;
}

.programme{
    margin-top: 500px;
}

.cryotherapie{
    margin-top: 500px;
}

.datedebut{
    font-size: 25px;
    position: absolute;
    top: 640px;
    right: 200px;
}

.datefin{
    font-size: 25px;
    position: absolute;
    top: 670px;
    right: 200px;
}

.de23ha8h{
    font-size: 25px;
    position: absolute;
    top: 700px;
    right: 200px;
}

.annecy{
    font-size: 30px;
    position: absolute;
    top: 775px;
    right: 200px;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
    
  }


.img1{
display: flex;
position: absolute;
grid-column: 2/3;
width: 300px;
top: 1400px;
right: 70px;
}

.img2{
display: flex;
position: absolute;
grid-column: 2/3;
width: 300px;
top: 2500px;
right: 70px;
}

.img3{
display: flex;
position: absolute;
grid-column: 2/3;
width: 300px;
top: 3600px;
right: 70px;
}

.img4{
display: flex;
position: absolute;
grid-column: 2/3;
width: 300px;
top: 4650px;
right: 70px;
}

.img5{
display: flex;
position: absolute;
grid-column: 2/3;
width: 300px;
top: 5700px;
right: 70px;
}




